origin(x, y)
    -ms-transform-origin: x y
    -webkit-transform-origin: x y
    -moz-transform-origin: x y
    transform-origin: x y

animation(decl)
    -webkit-animation: decl
    -moz-animation: decl
    animation: decl

transl(x, y)
    -webkit-transform: translate(x, y)
    -moz-transform: translate(x, y)
    -ms-transform: translate(x, y)
    transform: translate(x, y)

abscenter()
    position: absolute
    left: 50%
    top: 50%
    transl(-50%, -50%)

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#television-spinner
    abscenter(-50%, -50%)
    position: fixed

    circle
        animation(spin 1.5s linear infinite)
        origin(50%, 50%)
